$text: #1f425d;
$red: #e21f2f;
$bg: rgba(#d3e3f0, 0.2);

%mont-light{
  font-family: "Mont-Light", sans-serif;
  font-weight: 300;
}

%mont-regular{
  font-family: "Mont-Regular", sans-serif;
  font-weight: 400;
}

%mont-semibold{
  font-family: "Mont-SemiBold", sans-serif;
  font-weight: 600;
}

%mont-bold{
  font-family: "Mont-Bold", sans-serif;
  font-weight: 700;
}